<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <mapping class="env.EnvDomain"/>
    </session-factory>

</hibernate-configuration>

        <!--

            倪礼公公礼倪的身份证号码
            是否我真的一场游戏一世情缘1987


        -->